<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sky Cinema - Moodslider</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Link CSS -->
    <link href="css/moodslider.css" rel="stylesheet">

    <!-- Link Font CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	
</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Moodslider</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#app" onclick=$("#menu-close").click();>Moodslider</a>
	    </li>
	    <li>
		<a href="#upload" onclick=$("menu-close").click();>Upload Content</a>
	    </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
		<img src="img/skycinemalogo.png"></img>
		<br><br>
            <h1 style="color:white">Welcome to Moodslider</h1>
            <br>
            <a href="#app" class="btn btn-dark btn-lg" >Let's Get Started!</a>
	    </div>
	</header>

 
    <!-- App -->
    <section id="app" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>How do you feel?</h2>
                    <!-- insert actual content here
                    like logo & upload content button
                    four sliders
                    5 movie placeholders... -->

					<!-- Sliders -->
					<div ng-controller="MainController" ng-cloak="" class="sliderdemoBasicUsage" ng-app="MyApp">
  						<md-content style="margin: 16px; padding:16px">

							<div layout="">
								<div flex="10" layout="" layout-align="center center">
									<span class="md-body-1">Sad</span>
								</div>
								<md-slider flex="" ng-model="mood1" min="0" max="100" aria-label="rating"></md-slider>
								<div flex="10" layout="" layout-align="center center">
									<span class="md-body-1">Happy</span>
								</div>
							</div>
							
							<div layout="">
								<div flex="10" layout="" layout-align="center center">
									<span class="md-body-1">Tired</span>
								</div>
								<md-slider flex="" class="md-warn" ng-model="mood2" min="0" max="100" aria-label="rating"></md-slider>
								<div flex="10" layout="" layout-align="center center">
									<span class="md-body-1">Energetic</span>
								</div>
							</div>
							
							<div layout="">
								<div flex="10" layout="" layout-align="center center">
									<span class="md-body-1">Restless</span>
								</div>
								<md-slider flex="" class="md-primary" ng-model="mood3" min="0" max="100" aria-label="rating"></md-slider>
								<div flex="10" layout="" layout-align="center center">
									<span class="md-body-1">Calm</span>
								</div>
							</div>
							
							<div layout="">
								<div flex="10" layout="" layout-align="center center">
									<span class="md-body-1">Scared</span>
								</div>
								<md-slider flex="" class="" ng-model="mood4" min="0" max="100" aria-label="rating"></md-slider>
								<div flex="10" layout="" layout-align="center center">
									<span class="md-body-1">Fearless</span>
								</div>
							</div>
							
						</md-content>
					</div> <!-- end of sliders-->
                    
                    <a href="#app" class="btn btn-dark">Refresh Recommendations</a>
					
				</div> <!-- end of /.col-lg-10 -->
				
            </div> <!--end of /.row -->
			<!--Put active content here: recommended movies-->
			<table style="width:100%">
				<tr>
				</tr>
				<tr>
					<td><img src="">No content</img></td>
					<td><img src="">No content</img></td> 
					<td><img src="">No content</img></td>
					<td><img src="">No content</img></td>
					<td><img src="">No content</img></td>
				</tr>
				<tr>
					<td>No content</td>
					<td>No content</td> 
					<td>No content</td>
					<td>No content</td>
					<td>No content</td>
				</tr>
			</table>
		
			<br>
			
        </div> <!-- end of /.container -->
    </section> <!-- end of app -->

	<!-- Uploader -->
	<section id="upload" class="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 text-center">
					<!-- Placeholder 
					<h3>Got Your Own Content?</h3>
					<a href="#upload" class="btn btn-dark">Click to Upload</a>
					-->
					<form action="getfile.php" method="post"><br>
						<h3>Got Your Own Content?</h3>
						<input type="file" name="uploadFile">
						<input type="submit" value="Click to Upload" class="btn btn-dark">
					</form>
				</div>
			</div>
		</div>
	</section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Sky plc</strong>
                    </h4>
                    <p>Grant Way
                      <br>Isleworth
                      <br>TW7 5QD</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i>08442 411 411</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:startingout@sky.uk">startingout@sky.uk</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Moodslider 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    </script>

</body>

</html>
